<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>ZYNKX...🤖</title>
  <link rel="stylesheet" href="/bot.css">

</head>

<body>

  <div class="conatiner">
    <p class="firstMsg"><%= answer %></p>
  <form action="/chat" method="POST">
    <label for="user-input">Ask ZYNKX now:</label><br><br>
    <input type="text" id="userInput" name="message" placeholder="Type your message..." required>
    <button type="submit">Send</button>
  </form>

  </div>
  <script src="/script.js"></script>
</body>
</html>